---
---

{% for apps in site.data.apps %}
    {% assign app = apps[1] %}

    <div class="tqc-quotes">
        {% for review in app.reviews %}
            {% include quote.html type="review" quote=review %}
        {% endfor %}

        {% for testimonial in app.testimonials %}
            {% include quote.html type="testimonial" quote=testimonial default_url=app.defaults.testimonial_url %}
        {% endfor %}
    </div>

    <div class="container">
        {% for extra in app.extras %}
            {% include extra.html %}
        {% endfor %}
    </div>
{% endfor %}
    
    

