<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Pitch Black Wallpaper</title>

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="/assets/styles/main.css">

</head>
<body>
    <header>
        <div class="tqc-site-header">
            <h1 class="tqc-page-title"><a href="/">About Pitch Black Wallpaper</a></h1>
            <i class="fa fa-random" id="shuffle-icon" aria-hidden="true"></i>
        </div>
        <div class="tqc-site-subheader">
            <!-- <h2 class="tqc-page-subtitle">What others are saying about <a class="tqc-inline-link" href="https://www.tecdrop.com/pitchblackwallpaper/" target="_blank">Pitch Black Wallpaper</a></h2> -->
            <h2 class="tqc-page-subtitle">A million downloads Android app that sets a black wallpaper. Really? What people are saying in its defense.</h2>
        </div>
    </header>

    {{ content }}

    <footer class="tqc-site-footer">
        <output id="review-counter" title="Reviews">0</output> + <output id="testimonial-counter" title="Testimonials">0</output> = <output id="total-counter" title="Quotes">0</output>
    </footer>
    
    <script src="/assets/scripts/main.js"></script>
    
</body>
</html>